.login-html {
    height: 100%;

    body {
        height: 100%;
        padding: 0;
        margin: 0;

        .nav-cont {
            position: fixed;
            width: 100%;

            .navbar {
                height: 8%;
            }
        }

        .login {
            margin: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, #000000da 0%,#000000e7 100%), url(../asset/img/stock/istanbul.jpg);
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .login-cont {
                width: 70%;
                display: grid;
                grid-template-columns: 6fr 6fr;
                gap: 15px;

                @media (max-width: 767.98px) { 
                    grid-template-columns: 12fr;
                }

                .left {
                    img {
                        height: 80px;
                    }

                    h2 {
                        font-family: Hind-Medium;
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: .7rem;
                        font-family: Hind-Light;
                    }
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h3 {
                        font-family: Hind-Medium;
                        font-size: 1rem;
                        margin-bottom: .3rem;
                    }

                    .input-group {
                        display: none;
                    }

                    .forgot-password {
                        font-size: .7rem;
                        font-family: Hind-Light;
                        width: max-content;
                        padding: 0 10px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        i {
                            font-weight: 200;
                        }

                        &:hover {
                            background-color: $dark-hv;
                        }
                    }

                    .buttons {
                        display: flex;
                        justify-content: right;
                        gap: 5px;

                        .btnm {
                            font-size: .7rem;
                            font-family: Hind-Light;
                            padding: 8px 13px;
                            border: none;
                            cursor: pointer;
                        }

                        .btn-add {
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .btn-login {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: Muli-Medium;
                            border-radius: 50px;
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}