/* MEDİA QERYS */
@media (max-width: 575.98px) { 
    html {
        font-size: 15px;
    }
    .container {
        width: 99% !important;
    }
}

@media (max-width: 767.98px) { 
    html {
        font-size: 16px;
    }
    .right {
        .btn-class {
            display: none !important;
        }
    }
    .container {
        width: 96% !important;
    }
    .one-preview {
        .container {
            grid-template-columns: 12fr !important;
        }
    }
    .categories {
        display: none !important;
    }

    .offcanvas-left-cont {
        .offcanvas-left {
            width: 100% !important;
        }
    }
}

@media (max-width: 991.98px) { 
    html {
        font-size: 17px !important;
    }
    .container {
        width: 94% !important;
    }
}

@media (max-width: 1199.98px) { 
    html {
        font-size: 18px !important;
    }
    .categories {
        justify-content: left !important;
    }
    .container {
        width: 93% !important;
    }
    .one-preview {
        .container {
            .center {
                .box {
                    padding: 0 !important;
                }
            }
        }
    }
}

@media (max-width: 1399.98px) {
    html {
        font-size: 19px;
    }
    .container {
        width: 92% !important;
    }
}