$dark-color: rgba(255,255,255,1); 
$dark-hv: rgba(255,255,255,.1); 
$dark-bg: rgb(10, 10, 10); 

$dark-red: rgb(145, 48, 43); 
$dark-green: rgb(115, 143, 81); 
$dark-aqua: rgb(84, 175, 166); 
$dark-blue:rgb(42, 128, 119); 
$dark-gray: rgb(39, 45, 48);
